body {
    margin: 0;
    padding: 0;
    background-color: rgb(192,122,233);
}

.bob {
    background-color: blanchedalmond;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.eyes-container {
    display: flex;  
}

.eye {
    background-color: whitesmoke;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    /* git */
    position: relative;
    top: 4rem;
    left: 3.5rem;
}

.eye::after {
    content: '';
    display: block;
    background-color: black;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    position: relative;
    top: 2rem;
    left: 4rem;
}

/* .right {
    position: relative;
    top: 2rem;
    left: 4rem;
}

.left {
    position: relative;
    top: 2rem;
    left: 0rem;
    background-color: black;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
} */

